@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: sans-serif;
}
.background {
  background-color: rgb(153, 153, 153);
}
.background-green {
  background-color: rgb(62, 230, 62);
}